plugins:
  - jekyll-remote-theme
  - jekyll-include-cache

remote_theme: ucsb-cs-course-repos/course-repo-jekyll-theme

url: https://ucsb-cs24.github.io 
baseurl: "/w19"  

name: "CS 24 Winter 2019"
course: "CS24"
course_title: "Problem Solving with Computers II"
title: "UCSB CS24 W19"
github_url: https://github.com/ucsb-cs24/w19
qtr: "W19"
quarter: "Winter 2019"

start_week: 1
start_date: 2019-01-06 
num_weeks: 10
extra_exam_week: true

instructor_url: https://ucsb-cs24.github.io/instructor

cal_dates: >
  [
  {"label":"First day of classes", "date":"2019-01-07" },
  {"label":"Univ Holiday: MLK Jr. Day", "date":"2019-01-21" },
  {"label":"Drop deadline (no W grade)","date":"2019-02-04" },
  {"label":"Univ Holiday: President's Day", "date":"2019-02-18" },
  {"label":"Withdrawal petition deadline", "date":"2019-03-15" },
  {"label":"Last day of classes", "date":"2019-03-22" },            
  ]

kramdown:
   parse_block_html: true

exclude:
   - vendor
include:
   - _pages

timezone: America/Los_Angeles

collections:
  hwk:
    output: true
    permalink: /hwk/:path/
    last_before: false
  lab:
    output: true
    permalink: /lab/:path/
    last_before: false
  pa:
      output: true
      permalink: /pa/:path/
      last_before: false
  exam:
    output: true
    permalink: /exam/:path/
  info:
    output: true
    permalink: /info/:path/
  lectures:
    output: true
    permalink: /lectures/:path/

defaults:
  -
    scope:
      path: "" # an empty string here means all files in the project
    values:
      layout: default
  -
    scope:
      path: ""
      type: hwk
    values:
      layout: hwk
  -
    scope:
      path: ""
      type: lab
    values:
      layout: lab
  -
    scope:
      path: ""
      type: lab
    values:
      layout: pa
  -
    scope:
      path: ""
      type: exam
    values:
      layout: exam_info
  -
    scope:
      path: ""
      type: info
    values:
      layout: default
  -
    scope:
      path: ""
      type: lectures
    values:
      layout: lecture
  -
    scope:
      path: "syllabus.md"
      type: info
    values:
      layout: handout
